@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

.contain > input:checked + label .rounded-full {
  background-color: #53da69;
  border: 1.5px solid #49c25d; /* Change to your desired color */
}

/* Show the checkmark icon when the checkbox is checked */
.contain > input:checked + label svg {
  display: block;
}
